#extentMap {
  height: 400px;
}

.hidden-on-start {
  display: none;
}

#tileCountDisplay {
  margin-left: 10px;
}

#zoomLevels {
  margin-left: 5px;
}

#zoomLevels > .btn.active {
  background-color: orange;
}

#zoomLevels > .btn.active:disabled {
  background-color: rgb(173, 129, 48);
}

#tpkSizeDisplay {
  margin-left: 10px);
}

#tpkSizeDisplay.invalid {
  text-decoration: line-through;
}

#zoomLevels > .btn.current-zoom {
  border-color: red;
  border-width: 2px;
  margin-top: -1px;
}

.panel-body {
  padding-top: 0px;
}

.form-group:last-of-type {
  margin-bottom: 0px;
}

.form-group.pull-right .btn {
  margin-right: 10px;
}

#downloadTPK span {
  margin-left: 5px;
}
