#extentMap {
  height: 100%;
  width: 100%;
}

.hidden-on-start {
  display: none;
}

#tileCountDisplay:before {
  content: ' (';
}

#tileCountDisplay:after {
  content: ')';
}

#tpkSizeDisplay {
  margin-left: 10px);
}

#tpkSizeDisplay.invalid {
  text-decoration: line-through;
}

.form-group:last-of-type {
  margin-bottom: 0px;
}

.form-group.pull-right .btn {
  margin-right: 10px;
}

#downloadTPK span {
  margin-left: 5px;
}

#basemapPickerContainer, #esriSignIn {
  position: fixed;
  z-index: 50;
}

#basemapPickerContainer {
  top: 90px;
  left: 15px;
  z-index: 51;
}

#esriSignIn {
  right: 15px;
  top: 15px;
}

#basemapPicker {
  padding-left: 9px;
  padding-right: 1px;
  padding-top: 5px;
}

#currentBasemap {
  color: rgb(26, 65, 187);
  font-weight: bolder;
}

#tpkPanel {
  background-color: rgba(0,0,0,0.7);
  border-color: #676767;
}

#tpkPanel .panel-heading {
  background-color: rgba(0,0,0,0.5);
  border-color: #676767;
}

#tpkPanel .panel-heading.interaction {
  font-size: 28px;
  font-weight: lighter;
  padding-top: 0px;
  padding-bottom: 0px;
}

#tpkInfo {
  background-color: transparent;
  border-color: transparent;
  color: white;
  margin-top: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#basemapPickerLabel {
  padding-right: 7px;
}

#zoomLevelsSlider {
  background: transparent;
}

.panel-body .btn-xs {
  margin-left: 5px;
  margin-right: 5px;
}